@import "./blaseball.scss";
@import "./blaseball-fixes.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;

  flex: 1;
  height: 100%;
}

.Card-Container {
  background-color: #000;
  color: white;

  height: 100%;
  flex-grow: 1;
}

.Card-Container-Padded {
  padding: 4rem 0;
}

.PlayerCard-Wrapper {
  color: #fff;

  overflow-y: auto;
}

.Modal--Static {
  border: 1px solid white;
}

.CardEdit {
  background-color: black;
}
